table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #dddddd;
  }
h1{
    background-color: rgb(148, 104, 189,0.459);
}  