
.container {
  width: 400px;
  margin: 0 auto;
  text-align: center;
  margin-top: 100px;
  color: rgb(10, 6, 6);
  box-shadow: 5px 5px 0px rgb(182, 91, 91,0.4);
  background-color: rgb(250, 235, 215,0.495);
  padding: 20px;
}
form {
  margin-top: 50px;
}
 input[type="submit"] {
  display: block;
  background-color: rgb(11, 10, 71);
  color: aliceblue;
  margin: 20px 0;
  border: transparent;
  padding: 20px;
  width: 200px;
  margin-left: 90px;
}
input[type="text"], input[type="password"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  box-sizing: border-box;
}
body {
     background-image: url(images/pexels-raqeeb-ahmed-5838446.jpg);
     background-size: cover;
     background-repeat: no-repeat;
}
input[type="submit"]:hover{
    color: darkblue;
    background-color: indianred;
    font-size: 14px;
}