table {
    width: 100%;
    border-collapse: collapse;
  }
  th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
  }
  th {
    background-color: #ca176b;
    color: #fff;
  }
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  h1{color: rgb(252, 252, 252);
    background-color:rgba(151, 12, 19, 0.495);

  }